{%- comment -%} Price. Param: product (or variant via `target`) {%- endcomment -%}
{%- liquid
  assign p = target | default: product
  assign on_sale = false
  if p.compare_at_price > p.price
    assign on_sale = true
  endif
-%}
<div class="price">
  <span class="price__now">{{ p.price | money }}</span>
  {%- if on_sale -%}<span class="price__was">{{ p.compare_at_price | money }}</span>{%- endif -%}
</div>
